body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.no-scroll {
  overflow: hidden;
}

.Container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/top-view-construction-hammers-still-life.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    overflow: hidden;     
}

.Container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

.Container > * {
    position: relative;
    z-index: 1;
}

.Container h1.Home{
    font-size: 3em;
    font-style: italic;
    color: rgb(139, 102, 21);
}