body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.Container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/top-view-construction-hammers-still-life.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Container h1.Home{
    font-size: 3em;
    font-style: italic;
    color: rgb(139, 102, 21);
}