.home{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.home h1{
    font-size: 1.5em;
    color: aliceblue;
    text-decoration: underline;
}
.menu_home_cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3vh;
}
.card_home {
    width: 80vw;
    height: 30vh;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: white;
    position: relative;
    overflow: hidden;
    margin-top: 4vh;
}


.card_home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

.card_home > * {
    position: relative;
    z-index: 1;
}
.card_home:nth-child(1){
    background-image: url(../img/obra.jpg);
}
.card_home:nth-child(2){
    background-image: url(../img/reforma.jpg);
}
.card_home:nth-child(3){
    background-image: url(../img/fibra.jpg);
}