/* Estilo phone */
#nav_bar {
    width: 100%;
    min-height: 10vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);

}

.nav_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.logo img {
    width: 20vw;
    min-width: 70px;
}

/* Diseño personal menu hamburguesa */
.menu_hamburguesa {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu_hamburguesa div {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu_hamburguesa.active div:nth-child(1) {
    transform: rotate(45deg) translate(13px, 5px);
}

.menu_hamburguesa.active div:nth-child(2) {
    opacity: 0;
}

.menu_hamburguesa.active div:nth-child(3) {
    transform: rotate(-45deg) translate(13px, -5px);
}

/* Diseño del menu desplegable */

.menu_nav {
    width: 100%;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(233, 235, 198);
    padding-top: 5em;
}

.menu_nav div {
    width: 50%;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid black;
    font-size: 1.4em;
    border-radius: 5px;
    cursor: pointer;
}

.active_menu {
    display: flex;
}



@media (min-width: 768px) {

    #nav_bar {
        width: 94%;
        height: 5vh;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4%;
        padding-right: 2%;
    }

    .nav_info {
        justify-content: space-between;
    }

    .logo img {
        width: 12vw;
        max-width: 140px;
        cursor: pointer;
    }

    .menu_hamburguesa {
        display: none;
    }

    .menu_nav {
        width: auto;
        min-height: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border: 0;
        background-color: rgb(255, 255, 255);
        padding-top: 0;
    }

    .menu_nav div {
        width: auto;
        text-align: center;
        padding: 1.2em;
        border-bottom: 0;
        font-size: 1.1em;
        border-radius: 0;
        border-left: 1px solid black;
    }

    #menu div:nth-last-child(1) {

        border-right: 1px solid black;
    }

    #menu div:hover {
        background-color: rgb(171, 210, 245);
    }

}