body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

.Container{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(161, 161, 161);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container h1.Home{
    font-size: 3em;
    font-style: italic;
    color: rgb(0, 0, 0);
}