body{
    margin: 0;
    padding: 0;
}

.Container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(97, 96, 96);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container h1.Home{
    font-size: 5em;
    font-style: italic;
    color: rgb(255, 255, 255);
}